body{
    display: grid;
    background-color: midnightblue;
    color: orange;
    font-size: larger;
    text-align: center;
    grid-template-areas: 
    "header"
    "aside"
    "section1"
    "section2"
    "section3"
    "footer"
    ;
}

header{
    background-color: orange;
    color: midnightblue;
    grid-area: header;
}
aside{
    display: flex;
    align-items: center;
    justify-content: center;
    border: orange solid 3px;
    padding-left: 10px;
    grid-area: aside;
}
#logo{
    display: flex;
    width: 100px;
    height: 100px;
}

.section1{
    grid-area: section1;
    text-align: left;
    border: 3px orange solid;
}
h1{
    text-align: center;
}
.list{
    border: 3px orangered dashed;
    padding-bottom: 30px;
}

.section2{
    border: orange solid 3px;
    grid-area: section2;
    text-align: left;
}
.section3{
    border: orange solid 3px;
    grid-area: section3;
}
footer{
    grid-area: footer;
}
.hidden{
    display: none;
}
.headerL{
    display: none;
}
a:any-link{color: aliceblue;}
a:hover{color: hotpink;}

@media screen and ( min-width : 800px ) {
    body{
        display: grid;
        background-color: midnightblue;
        color: orange;
        font-size: larger;
        text-align: center;
        grid-template-columns: 1 1;
        grid-template-rows: 1 1 2 2 1;
        grid-template-areas: 
        "header header"
        "aside aside"
        "section1 section2"
        "section1 section2"
        "footer footer"
        ;
    }
    div{
        background-color: orange;
        color: midnightblue;
    }
    header{
        grid-area: header;
        display: grid;
        grid-template-columns: 1 5;
        grid-template-areas: 
        "headerLeft headerRight";
    }
    .headerL{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: headerLeft;
        padding-top: 3px;
        padding-left: 100px;
    }
    .headerR{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: headerRight;
        padding-right: 100px;
    }
    aside{
        grid-area: aside;
        padding-left: 0;
    }
    .section1{
        grid-area: section1;
    }
    footer{
        grid-area: footer;
    }
    .section2{
        grid-area: section2;
    }
    .section3{
        display: none;
    }
    .hidden{
        display: inline;
    }
    .me{
        width: 200px;
        height: 200px;
    }
}